.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        padding: 1rem;
        position: relative;
        width: 600px;
        min-height: 400px;
        box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
        .schedule {
            display: flex;
            height: 180px;
        }
        .description{
            font-size: 0.86rem;
            color: grey;
        }
        .prevSchedule{
            font-size: .9rem;
            position: absolute;
        }       
        .btnsBlock {
            margin: 3rem 0 0 0;
            display: flex;
            justify-content: center;
            flex: 1 1 auto;

            button {
                width: 100px;
                height: 30px;
                border-radius: 0.375rem;
                margin: 0 1rem 0 0;
            }
            button:hover{
                cursor: pointer;
            }
        }

        #cronText {
            width: 100%;
            height: 30px;
            text-align: center;
            margin: 1.25rem 0 0 0;
            display: block;
            text-align: center;
            font-size: 1.6rem;
        }
        span{
            display: block;
            color: red;
        }

    }
}